<nav class="navbar navbar-dark bg-dark">
    <h1 class="navbar-brand m-0">Card Triage</h1>

    <form class="ml-auto form-inline">
        <label for="search" class="sr-only">Search</label>
        <input class="form-control mr-sm-2" type="search" placeholder="Search" id="search" />
    </form>
</nav>

<main class="m-4">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 col-xl-4 offset-xl-2">
                <card-triage-card-column columnTitle="Todo"
                                         [cards]="pendingOrRejectedCards | async"
                                         (cardStatusChange)="onCardStatusChange($event)"></card-triage-card-column>
            </div>

            <div class="col-12 col-md-6 col-xl-4">
                <card-triage-card-column columnTitle="Done"
                                         [cards]="doneCards | async"
                                         (cardStatusChange)="onCardStatusChange($event)"></card-triage-card-column>
            </div>
        </div>
    </div>
</main>
