<nav class="navbar navbar-dark bg-dark">
    <h1 class="navbar-brand m-0">Card Triage</h1>

    <form class="ml-auto form-inline">
        <label for="search" class="sr-only">Search</label>
        <input class="form-control mr-sm-2" type="search" placeholder="Search" id="search" />
    </form>
</nav>

<main class="m-4">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="card-column">
                    <div class="card-column-title">
                        <h3>Pending / Rejected</h3>
                    </div>

                    <div class="card-column-body"></div>
                </div>
            </div>

            <div class="col-12 col-md-6">
                <div class="card-column">
                    <div class="card-column-title">
                        <h3>Done</h3>
                    </div>

                    <div class="card-column-body"></div>
                </div>
            </div>
        </div>
    </div>
</main>
